.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
}

.tab.active {
    font-weight: bold;
    border-bottom: 2px solid #007BFF;
    color: #007BFF;
}

.no-products {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.sold-out-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10;
    /* 他のコンテンツよりも前面に表示 */
}